In [1]:
import pandas as pd
import numpy as np
import glob, os, sys
import time
import pickle
import datetime

In [2]:
STATIC_FIELDS = ['SUBJECT_ID']
FIELDS = ['SUBJECT_ID', 'TimeStamp', 'Albumin', 'Alk. Phosphate', 'ALT', 'AST', 'Total Bili', 'BUN', 'Cholesterol',
          'Creatinine', 'Arterial BP [Diastolic]', 'FiO2 Set', 'GCS Total', 'Glucose', 'HCO3', 'Hematocrit',
          'Heart Rate', 'Potassium', 'Lactic Acid', 'Arterial BP Mean', 'MechVent', 'Magnesium', 'Sodium', 'NIDiasABP',
          'NIMAP', 'NISysABP', 'Arterial PaCO2', 'Arterial PaO2', 'Arterial pH', 'Platelets', 'Respiratory Rate',
          'SaO2', 'Arterial BP [Systolic]', 'Temperature C', 'TroponinI', 'TroponinT', 'Urine', 'WBC',
          'Previous WeightF']

In [3]:
df_all = pd.DataFrame(columns=FIELDS)
df_static_all = pd.DataFrame(columns=STATIC_FIELDS)

In [4]:
file_count = 0
unq_ids = []
time_i = time.time()

In [5]:
for filename in glob.glob('preprocess_data/24_hours/*.txt'):
    file_count += 1
    files = open(filename)
    #print(filename)
    file_list = []
    file_list_df = pd.read_csv(filename,sep=",")
    file_list = file_list_df.as_matrix()
    #display(file_list)
    unq_times = list(set(list(file_list_df['Time'])) - set(['Time']))
    #display(unq_times)
    unq_times = sorted(unq_times)
    id = file_list_df.loc[file_list_df.Parameter=='SUBJECT_ID', ['Value']].values[0][0]
    unq_ids.append(int(id))
    a = np.empty((len(unq_times),len(FIELDS),))
    a[:] = np.NAN
    a[:,0] = id
    df = pd.DataFrame(a,columns=FIELDS)
    df['TimeStamp'] = unq_times
    for i in range(len(file_list)):
        try:
            timestamp = file_list[i][0]
            var = file_list[i][1]
            val = file_list[i][2]
            df.loc[(df.TimeStamp == timestamp), [var]] = val
        except:
            continue
    df_static = pd.DataFrame(columns=STATIC_FIELDS)
    data = pd.DataFrame([[int(id)]], columns=STATIC_FIELDS)
    df_static =  df_static.append(data)
    df_static_all = df_static_all.append(df_static)
    df_all = df_all.append(df)
    if file_count%1000==0:
        print("done 1000")

/home/yoda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  import sys

done 1000
done 1000
done 1000
done 1000
done 1000
done 1000

In [6]:
df_all.head()

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808,02:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808,02:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25,NaN,172,NaN,NaN,NaN,NaN,NaN,NaN
3,808,02:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22,NaN,157,NaN,NaN,NaN,NaN,NaN,56.299999237060547
4,808,02:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_static_all.head()

  SUBJECT_ID
0        808
0       5406
0       7107
0       2561
0        580

In [8]:
unq_ids[0]

808

In [9]:
len(unq_ids)

6587

In [10]:
a = [df_all,  df_static_all]
a

[    SUBJECT_ID TimeStamp Albumin Alk. Phosphate  ALT  AST Total Bili  BUN  \
 0          808     00:00     NaN            NaN  NaN  NaN        NaN  NaN
 1          808     02:04     NaN            NaN  NaN  NaN        NaN  NaN
 2          808     02:09     NaN            NaN  NaN  NaN        NaN  NaN
 3          808     02:19     NaN            NaN  NaN  NaN        NaN  NaN
 4          808     02:23     NaN            NaN  NaN  NaN        NaN  NaN
 5          808     02:35     NaN            NaN  NaN  NaN        NaN  NaN
 6          808     02:45     NaN            NaN  NaN  NaN        NaN  NaN
 7          808     02:47     NaN            NaN  NaN  NaN        NaN  NaN
 8          808     02:49     NaN            NaN  NaN  NaN        NaN  NaN
 9          808     02:53     NaN            NaN  NaN  NaN        NaN  NaN
 10         808     03:14     NaN            NaN  NaN  NaN        NaN  NaN
 11         808     03:48     NaN            NaN  NaN  NaN        NaN  NaN
 12         808     04:30     NaN            NaN  NaN  NaN        NaN  NaN
 13         808     06:07     NaN            NaN  NaN  NaN        NaN  NaN
 14         808     06:23     NaN            NaN  NaN  NaN        NaN  NaN
 15         808     08:14     NaN            NaN  NaN  NaN        NaN  NaN
 16         808     09:53     NaN            NaN  NaN  NaN        NaN  NaN
 17         808     10:21     NaN            NaN  NaN  NaN        NaN  NaN
 18         808     11:22     NaN            NaN  NaN  NaN        NaN  NaN
 19         808     14:07     NaN            NaN  NaN  NaN        NaN  NaN
 20         808     14:34     NaN            NaN  NaN  NaN        NaN  NaN
 21         808     14:51       4            132   20   18        NaN    8
 22         808     15:23     NaN            NaN  NaN  NaN        NaN  NaN
 23         808     15:32     NaN            NaN  NaN  NaN        NaN  NaN
 24         808     18:40     NaN            NaN  NaN  NaN        NaN  NaN
 25         808     19:22     NaN            NaN  NaN  NaN        NaN  NaN
 26         808     20:00     NaN            NaN  NaN  NaN        NaN  NaN
 27         808     20:02     NaN            NaN  NaN  NaN        NaN  NaN
 28         808     20:04     NaN            NaN  NaN  NaN        NaN  NaN
 29         808     20:05     NaN            NaN  NaN  NaN        NaN  NaN
 ..         ...       ...     ...            ...  ...  ...        ...  ...
 91       27603     19:15     NaN            NaN  NaN  NaN        NaN  NaN
 92       27603     19:17     NaN            NaN  NaN  NaN        NaN  NaN
 93       27603     19:18     NaN            NaN  NaN  NaN        NaN  NaN
 94       27603     19:19     NaN            NaN  NaN  NaN        NaN  NaN
 95       27603     19:20     NaN            NaN  NaN  NaN        NaN  NaN
 96       27603     19:21     NaN            NaN  NaN  NaN        NaN  NaN
 97       27603     19:22     NaN            NaN  NaN  NaN        NaN  NaN
 98       27603     19:23     NaN            NaN  NaN  NaN        NaN  NaN
 99       27603     19:25     NaN            NaN  NaN  NaN        NaN  NaN
 100      27603     19:26     NaN            NaN  NaN  NaN        NaN  NaN
 101      27603     19:27     NaN            NaN  NaN  NaN        NaN  NaN
 102      27603     19:28     NaN            NaN  NaN  NaN        NaN  NaN
 103      27603     20:05     NaN            NaN  NaN  NaN        NaN  NaN
 104      27603     21:17     NaN            NaN  NaN  NaN        NaN  NaN
 105      27603     22:42     NaN            NaN  NaN  NaN        NaN  NaN
 106      27603     22:43     NaN            NaN  NaN  NaN        NaN  NaN
 107      27603     22:44     NaN            NaN  NaN  NaN        NaN  NaN
 108      27603     22:48     NaN            NaN  NaN  NaN        NaN  NaN
 109      27603     22:49     NaN            NaN  NaN  NaN        NaN  NaN
 110      27603     22:50     NaN            NaN  NaN  NaN        NaN  NaN
 111      27603     22:51     NaN            NaN  NaN  NaN        NaN  NaN
 112      27603     22:52     NaN            NaN  NaN  NaN        NaN  NaN
 113      27603     23:02     NaN            NaN  NaN  NaN        NaN  NaN
 114      27603     23:04     NaN            NaN  NaN  NaN        NaN  NaN
 115      27603     23:05     NaN            NaN  NaN  NaN        NaN  NaN
 116      27603     23:06     NaN            NaN  NaN  NaN        NaN  NaN
 117      27603     23:08     NaN            NaN  NaN  NaN        NaN  NaN
 118      27603     23:09     NaN            NaN  NaN  NaN        NaN  NaN
 119      27603     23:14     NaN            NaN  NaN  NaN        NaN  NaN
 120      27603     23:15     NaN            NaN  NaN  NaN        NaN  NaN

     Cholesterol Creatinine         ...         Platelets Respiratory Rate  \
 0           NaN        NaN         ...               NaN              NaN
 1           NaN        NaN         ...               NaN              NaN
 2           NaN        NaN         ...               NaN               25
 3           NaN        NaN         ...               NaN               22
 4           NaN        NaN         ...               NaN              NaN
 5           NaN        NaN         ...               NaN               22
 6           NaN        NaN         ...               NaN               18
 7           NaN        NaN         ...               NaN              NaN
 8           NaN        NaN         ...               NaN              NaN
 9           NaN        NaN         ...               NaN              NaN
 10          NaN        NaN         ...               NaN               20
 11          NaN        NaN         ...               NaN               20
 12          NaN        NaN         ...               NaN               19
 13          NaN        NaN         ...               NaN              NaN
 14          NaN        NaN         ...               NaN               21
 15          NaN        NaN         ...               NaN               14
 16          NaN        NaN         ...               NaN               21
 17          NaN        NaN         ...               NaN               16
 18          NaN        NaN         ...               NaN               20
 19          NaN        NaN         ...               NaN               16
 20          NaN        NaN         ...               208              NaN
 21          NaN         .7         ...               NaN              NaN
 22          NaN        NaN         ...               NaN              NaN
 23          NaN        NaN         ...               NaN               19
 24          NaN        NaN         ...               NaN               22
 25          NaN        NaN         ...               NaN               21
 26          NaN        NaN         ...               NaN               20
 27          NaN        NaN         ...               NaN              NaN
 28          NaN        NaN         ...               NaN              NaN
 29          NaN        NaN         ...               NaN              NaN
 ..          ...        ...         ...               ...              ...
 91          NaN        NaN         ...               NaN             20.0
 92          NaN        NaN         ...               NaN              NaN
 93          NaN        NaN         ...               NaN              NaN
 94          NaN        NaN         ...               NaN              NaN
 95          NaN        NaN         ...               NaN              NaN
 96          NaN        NaN         ...               NaN              NaN
 97          NaN        NaN         ...               NaN              NaN
 98          NaN        NaN         ...               NaN              NaN
 99          NaN        NaN         ...               NaN              NaN
 100         NaN        NaN         ...               NaN              NaN
 101         NaN        NaN         ...               NaN              NaN
 102         NaN        NaN         ...               NaN              NaN
 103         NaN        NaN         ...               NaN              NaN
 104         NaN        NaN         ...               NaN              NaN
 105         NaN        NaN         ...               NaN             23.0
 106         NaN        NaN         ...               NaN              NaN
 107         NaN        NaN         ...               NaN              NaN
 108         NaN        NaN         ...               NaN              NaN
 109         NaN        NaN         ...               NaN              NaN
 110         NaN        NaN         ...               NaN              NaN
 111         NaN        NaN         ...               NaN              NaN
 112         NaN        NaN         ...               NaN              NaN
 113         NaN        NaN         ...               NaN              NaN
 114         NaN        NaN         ...               NaN              NaN
 115         NaN        NaN         ...               NaN              NaN
 116         NaN        NaN         ...               NaN              NaN
 117         NaN        NaN         ...               NaN              NaN
 118         NaN        NaN         ...               NaN              NaN
 119         NaN        NaN         ...               NaN              NaN
 120         NaN        NaN         ...               NaN             23.0

     SaO2 Arterial BP [Systolic] Temperature C TroponinI TroponinT Urine  WBC  \
 0    NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 1    NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 2    NaN                    172           NaN       NaN       NaN   NaN  NaN
 3    NaN                    157           NaN       NaN       NaN   NaN  NaN
 4    NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 5    NaN                    166           NaN       NaN       NaN   NaN  NaN
 6    NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 7    NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 8    NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 9    NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 10   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 11   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 12   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 13   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 14   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 15   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 16   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 17   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 18   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 19   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 20   NaN                    NaN           NaN       NaN       NaN   NaN  6.1
 21   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 22   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 23   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 24   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 25   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 26   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 27   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 28   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 29   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 ..   ...                    ...           ...       ...       ...   ...  ...
 91   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 92   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 93   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 94   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 95   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 96   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 97   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 98   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 99   NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 100  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 101  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 102  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 103  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 104  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 105  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 106  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 107  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 108  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 109  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 110  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 111  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 112  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 113  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 114  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 115  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 116  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 117  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 118  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 119  NaN                    NaN           NaN       NaN       NaN   NaN  NaN
 120  NaN                    NaN           NaN       NaN       NaN   NaN  NaN

        Previous WeightF
 0                   NaN
 1                   NaN
 2                   NaN
 3    56.299999237060547
 4                   NaN
 5    56.299999237060547
 6    56.299999237060547
 7    56.299999237060547
 8    56.299999237060547
 9    56.299999237060547
 10   56.299999237060547
 11   56.299999237060547
 12   56.299999237060547
 13                  NaN
 14   56.299999237060547
 15   56.299999237060547
 16   56.299999237060547
 17   56.299999237060547
 18   56.299999237060547
 19   56.299999237060547
 20                  NaN
 21                  NaN
 22                  NaN
 23   56.299999237060547
 24   56.299999237060547
 25   56.299999237060547
 26   56.299999237060547
 27                  NaN
 28                  NaN
 29                  NaN
 ..                  ...
 91                  NaN
 92                  NaN
 93                  NaN
 94                  NaN
 95                  NaN
 96                  NaN
 97                  NaN
 98                  NaN
 99                  NaN
 100                 NaN
 101                 NaN
 102                 NaN
 103                 NaN
 104                 NaN
 105                 NaN
 106                 NaN
 107                 NaN
 108                 NaN
 109                 NaN
 110                 NaN
 111                 NaN
 112                 NaN
 113                 NaN
 114                 NaN
 115                 NaN
 116                 NaN
 117                 NaN
 118                 NaN
 119                 NaN
 120                 NaN

 [484091 rows x 39 columns],    SUBJECT_ID
 0         808
 0        5406
 0        7107
 0        2561
 0         580
 0        4367
 0       64153
 0       81456
 0       64296
 0         695
 0       99231
 0       22835
 0       44061
 0       43067
 0        7102
 0       31574
 0       24937
 0        8985
 0       84669
 0       66604
 0       59801
 0       18105
 0       83433
 0       17112
 0       71192
 0        7996
 0       32495
 0       14094
 0       88882
 0        6787
 ..        ...
 0       22963
 0       13217
 0       17610
 0        2442
 0       20796
 0       84633
 0        5321
 0       77900
 0       16860
 0       77395
 0        6575
 0       66532
 0       41024
 0       82494
 0       12634
 0       32559
 0       66499
 0       25104
 0        4292
 0       18996
 0       15763
 0       94785
 0       52978
 0       26320
 0       96025
 0       13622
 0       59314
 0       29530
 0        6973
 0       27603

 [6587 rows x 1 columns]]

In [11]:
with open('finalset/24hour_file.pickle', 'wb') as handle:
    pickle.dump(a, handle, protocol = pickle.HIGHEST_PROTOCOL)

In [12]:
with open('finalset/24hour_file.pickle', 'rb') as handle:
    [df_all,  df_static_all] = pickle.load(handle)
    print("yes")
print("here")

yes
here

In [13]:
display(df_all.head())
df_static_all.head()

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808,02:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808,02:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25,NaN,172,NaN,NaN,NaN,NaN,NaN,NaN
3,808,02:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22,NaN,157,NaN,NaN,NaN,NaN,NaN,56.299999237060547
4,808,02:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

  SUBJECT_ID
0        808
0       5406
0       7107
0       2561
0        580

In [14]:
df_all['TimeStamp'] = df_all['TimeStamp'] + ':00'

In [15]:
df_all.head()

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808,02:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808,02:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25,NaN,172,NaN,NaN,NaN,NaN,NaN,NaN
3,808,02:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22,NaN,157,NaN,NaN,NaN,NaN,NaN,56.299999237060547
4,808,02:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_all['TimeStamp'] = pd.to_timedelta(df_all['TimeStamp'])
df_all = df_all.reset_index(drop=True)
df_all.head()

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808,02:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808,02:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25,NaN,172,NaN,NaN,NaN,NaN,NaN,NaN
3,808,02:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22,NaN,157,NaN,NaN,NaN,NaN,NaN,56.299999237060547
4,808,02:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
time_i = time.time()
i = 0
for id_ in unq_ids:
    if i%1000 == 0:
        print (i, time_i - time.time())
    i = i+1
    id1 = np.empty((1,39))
    id1 = id1.astype(str)
    id1[:] = np.NAN
    id1[0][0] = id_
    id1[0][1] = '24:59:59'
    df_add = pd.DataFrame(id1, columns=df_all.columns)
    df_all = df_all.append(df_add)
df_all.tail()

0 -0.00010919570922851562
1000 -417.2401511669159
2000 -837.6539161205292
3000 -1256.7779750823975
4000 -1683.2478251457214
5000 -2112.7270033359528
6000 -2579.8869774341583

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,13622,24:59:59,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,59314,24:59:59,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,29530,24:59:59,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,6973,24:59:59,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,27603,24:59:59,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [18]:
df_all['TimeStamp'] = pd.to_timedelta(df_all['TimeStamp'])
df_all = df_all.reset_index(drop=True)
df_all.head()

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808,02:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808,02:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25,NaN,172,NaN,NaN,NaN,NaN,NaN,NaN
3,808,02:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22,NaN,157,NaN,NaN,NaN,NaN,NaN,56.299999237060547
4,808,02:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
type(df_all['Respiratory Rate'].values[1])

float

In [20]:
df_all['SUBJECT_ID'] = df_all['SUBJECT_ID'].astype('int')
df_all.head()

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808,02:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808,02:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25,NaN,172,NaN,NaN,NaN,NaN,NaN,NaN
3,808,02:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22,NaN,157,NaN,NaN,NaN,NaN,NaN,56.299999237060547
4,808,02:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
len(df_all)

490678

In [22]:
for col in df_all.columns[2:]:
    for i in range(0,len(df_all[col].values)):
        if type(df_all[col].values[i])==type("hgfg"):
            try:
                df_all[col].values[i] = float(df_all[col].values[i])
            except:
                df_all[col].values[i] = np.nan
type(df_all['Respiratory Rate'].values[1])

float

In [23]:
df_all.head()

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808,02:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808,02:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25,NaN,172,NaN,NaN,NaN,NaN,NaN,NaN
3,808,02:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22,NaN,157,NaN,NaN,NaN,NaN,NaN,56.3
4,808,02:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_all[df_all.columns[2:]] = df_all[df_all.columns[2:]].astype('float')
df_all.head()

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808,02:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808,02:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25.0,NaN,172.0,NaN,NaN,NaN,NaN,NaN,NaN
3,808,02:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22.0,NaN,157.0,NaN,NaN,NaN,NaN,NaN,56.299999
4,808,02:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
res_24hour_df = pd.DataFrame(columns=df_all.columns)

In [26]:
res_24hour_df.head()

Empty DataFrame
Columns: [SUBJECT_ID, TimeStamp, Albumin, Alk. Phosphate, ALT, AST, Total Bili, BUN, Cholesterol, Creatinine, Arterial BP [Diastolic], FiO2 Set, GCS Total, Glucose, HCO3, Hematocrit, Heart Rate, Potassium, Lactic Acid, Arterial BP Mean, MechVent, Magnesium, Sodium, NIDiasABP, NIMAP, NISysABP, Arterial PaCO2, Arterial PaO2, Arterial pH, Platelets, Respiratory Rate, SaO2, Arterial BP [Systolic], Temperature C, TroponinI, TroponinT, Urine, WBC, Previous WeightF]
Index: []

[0 rows x 39 columns]

In [27]:
time_i = time.time()
i = 0
for id_ in unq_ids:
    if i%1000 == 0:
        print (i, time_i - time.time())
    i = i+1
    feat_id = df_all.loc[df_all['SUBJECT_ID'] == int(id_)].resample('1H', on='TimeStamp').agg(np.nanmean)
    feat_id['SUBJECT_ID'] = int(id_) 
    res_24hour_df = res_24hour_df.append(feat_id)
res_24hour_df.head()

0 -0.00016307830810546875

/home/yoda/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2920: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/yoda/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/home/yoda/anaconda3/lib/python3.7/site-packages/pandas/core/groupby/groupby.py:1062: RuntimeWarning: Mean of empty slice
  f = lambda x: func(x, *args, **kwargs)

1000 -62.13107132911682
2000 -125.94030785560608
3000 -190.45458841323853
4000 -257.2798252105713
5000 -330.8654794692993
6000 -411.181604385376

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
00:00:00,808,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01:00:00,808,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
02:00:00,808,02:31:33.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.75,NaN,165.0,NaN,NaN,NaN,NaN,NaN,56.299999
03:00:00,808,03:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.299999
04:00:00,808,04:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,19.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.299999

In [28]:
res_24hour_df['TimeStamp'] = res_24hour_df.index
res_24hour_df = res_24hour_df.reset_index(drop=True)
res_24hour_df.head()

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808,01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808,02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.75,NaN,165.0,NaN,NaN,NaN,NaN,NaN,56.299999
3,808,03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.299999
4,808,04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,19.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.299999

In [29]:
res_24hour_df.loc[res_24hour_df.SUBJECT_ID==824]

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
153850,824,0 days 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153851,824,0 days 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153852,824,0 days 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153853,824,0 days 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153854,824,0 days 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153855,824,0 days 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153856,824,0 days 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153857,824,0 days 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,116.0,NaN,...,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153858,824,0 days 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153859,824,0 days 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153860,824,0 days 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153861,824,0 days 11:00:00,NaN,NaN,NaN,NaN,NaN,102.0,NaN,2.8,...,340.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,9.4,NaN
153862,824,0 days 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153863,824,0 days 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153864,824,0 days 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153865,824,0 days 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153866,824,0 days 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153867,824,0 days 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153868,824,0 days 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153869,824,0 days 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153870,824,0 days 20:00:00,NaN,NaN,NaN,NaN,NaN,105.0,NaN,3.4,...,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153871,824,0 days 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153872,824,0 days 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153873,824,0 days 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153874,824,1 days 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
res_24hour_df.shape

(164675, 39)

In [31]:
with open('finalset/res_24hour_df.pickle', 'wb') as handle:
    pickle.dump(res_24hour_df, handle, protocol = pickle.HIGHEST_PROTOCOL)

In [32]:
res_24hour_df_backfill = pd.DataFrame(columns=res_24hour_df.columns)
time_i = time.time()
i = 0
for id_ in unq_ids:
    if i%1000 == 0:
        print (i, time_i - time.time())
    i = i+1
    feat_id_backfill = res_24hour_df.loc[res_24hour_df['SUBJECT_ID'] == int(id_)].fillna(method='bfill')
    #feat_id_backfill = feat_df.loc[df_all['ICUSTAY_ID'] == int(id_)].fillna(method='ffill')
    res_24hour_df_backfill = res_24hour_df_backfill.append(feat_id_backfill)
res_24hour_df_backfill.head()

0 -0.00014138221740722656
1000 -12.687005043029785
2000 -28.11013388633728
3000 -43.90090489387512
4000 -62.27265453338623
5000 -85.68154692649841
6000 -116.46397686004639

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,21.75,NaN,165.0,NaN,NaN,NaN,NaN,6.1,56.299999
1,808,01:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,21.75,NaN,165.0,NaN,NaN,NaN,NaN,6.1,56.299999
2,808,02:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,21.75,NaN,165.0,NaN,NaN,NaN,NaN,6.1,56.299999
3,808,03:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,20.00,NaN,NaN,NaN,NaN,NaN,NaN,6.1,56.299999
4,808,04:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,19.00,NaN,NaN,NaN,NaN,NaN,NaN,6.1,56.299999

In [33]:
res_24hour_df_ffill = pd.DataFrame(columns=res_24hour_df.columns)
time_i = time.time()
i = 0
for id_ in unq_ids:
    if i%1000 == 0:
        print (i, time_i - time.time())
    i = i+1
    #feat_id_backfill = feat_df.loc[df_all['ICUSTAY_ID'] == int(id_)].fillna(method='bfill')
    feat_id_ffill = res_24hour_df_backfill.loc[res_24hour_df_backfill['SUBJECT_ID'] == int(id_)].fillna(method='ffill')
    res_24hour_df_ffill = res_24hour_df_ffill.append(feat_id_ffill)
res_24hour_df_ffill.head()

0 -0.0001571178436279297
1000 -10.730600595474243
2000 -23.082793712615967
3000 -37.074108600616455
4000 -52.29153847694397
5000 -73.65589380264282
6000 -103.02654528617859

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,00:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,21.75,NaN,165.0,NaN,NaN,NaN,NaN,6.1,56.299999
1,808,01:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,21.75,NaN,165.0,NaN,NaN,NaN,NaN,6.1,56.299999
2,808,02:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,21.75,NaN,165.0,NaN,NaN,NaN,NaN,6.1,56.299999
3,808,03:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,20.00,NaN,165.0,NaN,NaN,NaN,NaN,6.1,56.299999
4,808,04:00:00,4.0,132.0,20.0,18.0,NaN,8.0,NaN,0.7,...,208.0,19.00,NaN,165.0,NaN,NaN,NaN,NaN,6.1,56.299999

In [34]:
normal_val = [-1]*39

In [36]:
i = 2
for col in res_24hour_df_ffill.columns[2:]:
    #print i
    res_24hour_df_ffill[col] = res_24hour_df_ffill[col].fillna(normal_val[i])
    i = i+1
res_24hour_df_ffill.head(50)

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,0 days 00:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,21.75,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
1,808,0 days 01:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,21.75,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
2,808,0 days 02:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,21.75,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
3,808,0 days 03:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,20.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
4,808,0 days 04:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,19.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
5,808,0 days 05:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,21.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
6,808,0 days 06:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,21.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
7,808,0 days 07:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,14.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
8,808,0 days 08:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,14.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
9,808,0 days 09:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,21.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
10,808,0 days 10:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,16.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
11,808,0 days 11:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,20.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
12,808,0 days 12:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,16.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
13,808,0 days 13:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,16.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
14,808,0 days 14:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,16.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
15,808,0 days 15:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,19.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
16,808,0 days 16:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,22.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
17,808,0 days 17:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,22.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
18,808,0 days 18:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,22.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
19,808,0 days 19:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,21.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
20,808,0 days 20:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,20.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
21,808,0 days 21:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,20.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
22,808,0 days 22:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,20.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
23,808,0 days 23:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,20.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
24,808,1 days 00:00:00,4.0,132.0,20.0,18.0,-1.0,8.0,-1.0,0.7,...,208.0,20.00,-1.0,165.0,-1.0,-1.0,-1.0,-1.0,6.1,56.299999
25,5406,0 days 00:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,21.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
26,5406,0 days 01:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,23.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
27,5406,0 days 02:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,23.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
28,5406,0 days 03:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,23.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
29,5406,0 days 04:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,22.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
30,5406,0 days 05:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,17.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
31,5406,0 days 06:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,17.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
32,5406,0 days 07:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,41.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
33,5406,0 days 08:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,41.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
34,5406,0 days 09:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,16.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
35,5406,0 days 10:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,24.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
36,5406,0 days 11:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,24.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
37,5406,0 days 12:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,24.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
38,5406,0 days 13:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,24.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
39,5406,0 days 14:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
40,5406,0 days 15:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
41,5406,0 days 16:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
42,5406,0 days 17:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
43,5406,0 days 18:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
44,5406,0 days 19:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
45,5406,0 days 20:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
46,5406,0 days 21:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
47,5406,0 days 22:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
48,5406,0 days 23:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000
49,5406,1 days 00:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,67.0,-1.0,8.4,...,233.0,14.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.1,53.500000

In [37]:
from sklearn.preprocessing import MinMaxScaler
X = MinMaxScaler().fit_transform(res_24hour_df_ffill[res_24hour_df_ffill.columns[2:]])
res_24hour_df_ffill[res_24hour_df_ffill.columns[2:]] = X
res_24hour_df_ffill.head(50)

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,808,0 days 00:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.225248,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
1,808,0 days 01:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.225248,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
2,808,0 days 02:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.225248,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
3,808,0 days 03:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.207921,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
4,808,0 days 04:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.198020,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
5,808,0 days 05:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.217822,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
6,808,0 days 06:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.217822,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
7,808,0 days 07:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.148515,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
8,808,0 days 08:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.148515,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
9,808,0 days 09:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.217822,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
10,808,0 days 10:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.168317,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
11,808,0 days 11:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.207921,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
12,808,0 days 12:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.168317,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
13,808,0 days 13:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.168317,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
14,808,0 days 14:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.168317,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
15,808,0 days 15:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.198020,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
16,808,0 days 16:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.227723,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
17,808,0 days 17:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.227723,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
18,808,0 days 18:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.227723,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
19,808,0 days 19:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.217822,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
20,808,0 days 20:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.207921,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
21,808,0 days 21:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.207921,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
22,808,0 days 22:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.207921,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
23,808,0 days 23:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.207921,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
24,808,1 days 00:00:00,0.806452,0.032384,0.002796,0.001847,0.0,0.045455,0.0,0.012687,...,0.155045,0.207921,0.0,0.62406,0.0,0.0,0.0,0.0,0.013422,0.196907
25,5406,0 days 00:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.217822,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
26,5406,0 days 01:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.237624,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
27,5406,0 days 02:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.237624,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
28,5406,0 days 03:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.237624,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
29,5406,0 days 04:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.227723,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
30,5406,0 days 05:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.178218,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
31,5406,0 days 06:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.178218,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
32,5406,0 days 07:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.415842,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
33,5406,0 days 08:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.415842,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
34,5406,0 days 09:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.168317,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
35,5406,0 days 10:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.247525,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
36,5406,0 days 11:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.247525,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
37,5406,0 days 12:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.247525,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
38,5406,0 days 13:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.247525,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
39,5406,0 days 14:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
40,5406,0 days 15:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
41,5406,0 days 16:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
42,5406,0 days 17:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
43,5406,0 days 18:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
44,5406,0 days 19:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
45,5406,0 days 20:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
46,5406,0 days 21:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
47,5406,0 days 22:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
48,5406,0 days 23:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285
49,5406,1 days 00:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.343434,0.0,0.070149,...,0.173591,0.148515,0.0,0.00000,0.0,0.0,0.0,0.0,0.017202,0.187285

In [38]:
res_24hour_df_ffill1 = res_24hour_df_ffill.sort_values(['SUBJECT_ID','TimeStamp'], ascending=[True,True])
res_24hour_df_ffill1 = res_24hour_df_ffill1.reset_index(drop=True)
res_24hour_df_ffill1.head(50)

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,17,0 days 00:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.060606,0.0,0.013433,...,0.103116,0.143564,0.990099,0.445489,0.0,0.0,0.0,0.0,0.021739,0.000000
1,17,0 days 01:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.060606,0.0,0.013433,...,0.177300,0.143564,0.990099,0.445489,0.0,0.0,0.0,0.0,0.047259,0.000000
2,17,0 days 02:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.060606,0.0,0.013433,...,0.177300,0.128713,0.990099,0.458647,0.0,0.0,0.0,0.0,0.047259,0.000000
3,17,0 days 03:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.188119,0.990099,0.379699,0.0,0.0,0.0,0.0,0.047259,0.000000
4,17,0 days 04:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.237624,0.990099,0.439850,0.0,0.0,0.0,0.0,0.047259,0.000000
5,17,0 days 05:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.217822,0.990099,0.439850,0.0,0.0,0.0,0.0,0.047259,0.000000
6,17,0 days 06:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.217822,0.990099,0.439850,0.0,0.0,0.0,0.0,0.047259,0.000000
7,17,0 days 07:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.168317,0.990099,0.428571,0.0,0.0,0.0,0.0,0.047259,0.000000
8,17,0 days 08:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.168317,0.990099,0.375940,0.0,0.0,0.0,0.0,0.047259,0.000000
9,17,0 days 09:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.198020,0.990099,0.402256,0.0,0.0,0.0,0.0,0.047259,0.000000
10,17,0 days 10:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.198020,0.990099,0.402256,0.0,0.0,0.0,0.0,0.047259,0.000000
11,17,0 days 11:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.237624,0.990099,0.368421,0.0,0.0,0.0,0.0,0.047259,0.000000
12,17,0 days 12:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.237624,0.990099,0.368421,0.0,0.0,0.0,0.0,0.047259,0.000000
13,17,0 days 13:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.277228,0.990099,0.390977,0.0,0.0,0.0,0.0,0.047259,0.000000
14,17,0 days 14:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.277228,0.990099,0.390977,0.0,0.0,0.0,0.0,0.047259,0.000000
15,17,0 days 15:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.217822,0.990099,0.421053,0.0,0.0,0.0,0.0,0.047259,0.000000
16,17,0 days 16:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.198020,0.990099,0.327068,0.0,0.0,0.0,0.0,0.047259,0.000000
17,17,0 days 17:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.262376,0.990099,0.300752,0.0,0.0,0.0,0.0,0.047259,0.000000
18,17,0 days 18:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.247525,0.990099,0.300752,0.0,0.0,0.0,0.0,0.047259,0.000000
19,17,0 days 19:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.237624,0.990099,0.383459,0.0,0.0,0.0,0.0,0.047259,0.000000
20,17,0 days 20:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.316832,0.990099,0.334586,0.0,0.0,0.0,0.0,0.047259,0.000000
21,17,0 days 21:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.267327,0.990099,0.357143,0.0,0.0,0.0,0.0,0.047259,0.000000
22,17,0 days 22:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.287129,0.990099,0.372180,0.0,0.0,0.0,0.0,0.047259,0.000000
23,17,0 days 23:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.247525,0.990099,0.387218,0.0,0.0,0.0,0.0,0.047259,0.000000
24,17,1 days 00:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.247525,0.990099,0.387218,0.0,0.0,0.0,0.0,0.047259,0.000000
25,21,0 days 00:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.035075,...,0.194362,0.217822,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
26,21,0 days 01:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.035075,...,0.194362,0.217822,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
27,21,0 days 02:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.035075,...,0.194362,0.198020,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
28,21,0 days 03:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.035075,...,0.194362,0.188119,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
29,21,0 days 04:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.037313,...,0.194362,0.148515,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
30,21,0 days 05:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.037313,...,0.194362,0.183168,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
31,21,0 days 06:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.037313,...,0.194362,0.188119,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
32,21,0 days 07:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.037313,...,0.194362,0.188119,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
33,21,0 days 08:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.037313,...,0.194362,0.148515,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
34,21,0 days 09:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.037313,...,0.194362,0.158416,0.990099,0.406015,0.0,0.0,0.0,0.0,0.046314,0.228866
35,21,0 days 10:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.148515,0.990099,0.406015,0.0,0.0,0.0,0.0,0.041777,0.228866
36,21,0 days 11:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.158416,0.990099,0.406015,0.0,0.0,0.0,0.0,0.041777,0.228866
37,21,0 days 12:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.158416,0.990099,0.406015,0.0,0.0,0.0,0.0,0.041777,0.228866
38,21,0 days 13:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.168317,0.990099,0.406015,0.0,0.0,0.0,0.0,0.041777,0.228866
39,21,0 days 14:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.188119,0.990099,0.406015,0.0,0.0,0.0,0.0,0.041777,0.228866
40,21,0 days 15:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.188119,0.990099,0.406015,0.0,0.0,0.0,0.0,0.041777,0.228866
41,21,0 days 16:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.188119,0.990099,0.406015,0.0,0.0,0.0,0.0,0.041777,0.228866
42,21,0 days 17:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.188119,0.990099,0.406015,0.0,0.0,0.0,0.0,0.041777,0.228866
43,21,0 days 18:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.212871,0.990099,0.390977,0.0,0.0,0.0,0.0,0.041777,0.228866
44,21,0 days 19:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.212871,0.990099,0.379699,0.0,0.0,0.0,0.0,0.041777,0.228866
45,21,0 days 20:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.138614,0.990099,0.398496,0.0,0.0,0.0,0.0,0.041777,0.228866
46,21,0 days 21:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.138614,0.990099,0.398496,0.0,0.0,0.0,0.0,0.041777,0.228866
47,21,0 days 22:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.128713,0.990099,0.462406,0.0,0.0,0.0,0.0,0.041777,0.228866
48,21,0 days 23:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.138614,0.990099,0.462406,0.0,0.0,0.0,0.0,0.041777,0.228866
49,21,1 days 00:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.520202,0.0,0.041791,...,0.204748,0.138614,0.990099,0.462406,0.0,0.0,0.0,0.0,0.041777,0.228866

In [39]:
matrix3D = np.array(res_24hour_df_ffill1.drop(['SUBJECT_ID', 'TimeStamp'], 1))
matrix3D

array([[0.        , 0.        , 0.        , ..., 0.        , 0.02173913,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.04725898,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.04725898,
        0.        ],
       ...,
       [0.79032258, 0.        , 0.00266276, ..., 0.        , 0.01587902,
        0.        ],
       [0.79032258, 0.        , 0.00266276, ..., 0.        , 0.01587902,
        0.        ],
       [0.79032258, 0.        , 0.00266276, ..., 0.        , 0.01587902,
        0.        ]])

In [40]:
matrix3D.shape

(164675, 37)

In [41]:
p = []
ff = res_24hour_df_ffill1.groupby('SUBJECT_ID')
for s,g in ff:
    p.append((s,len(g)))

In [42]:
for k in p:
    if k[1]!=25:
        print(k[0],k[1])

In [43]:
#gg = res_24hour_df_ffill1[res_24hour_df_ffill1['SUBJECT_ID']==16351].drop_duplicates(subset=['TimeStamp'])
#gg

In [44]:
#res_24hour_df_ffill1 = res_24hour_df_ffill1[res_24hour_df_ffill1['SUBJECT_ID']!=16351]
#res_24hour_df_ffill1

In [45]:
#res_24hour_df_ffill1 = res_24hour_df_ffill1.append(gg)

In [47]:
res_24hour_df_ffill1.head(100)

,SUBJECT_ID,TimeStamp,Albumin,Alk. Phosphate,ALT,AST,Total Bili,BUN,Cholesterol,Creatinine,...,Platelets,Respiratory Rate,SaO2,Arterial BP [Systolic],Temperature C,TroponinI,TroponinT,Urine,WBC,Previous WeightF
0,17,0 days 00:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.060606,0.0,0.013433,...,0.103116,0.143564,0.990099,0.445489,0.000000,0.0,0.0,0.0,0.021739,0.000000
1,17,0 days 01:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.060606,0.0,0.013433,...,0.177300,0.143564,0.990099,0.445489,0.000000,0.0,0.0,0.0,0.047259,0.000000
2,17,0 days 02:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.060606,0.0,0.013433,...,0.177300,0.128713,0.990099,0.458647,0.000000,0.0,0.0,0.0,0.047259,0.000000
3,17,0 days 03:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.188119,0.990099,0.379699,0.000000,0.0,0.0,0.0,0.047259,0.000000
4,17,0 days 04:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.237624,0.990099,0.439850,0.000000,0.0,0.0,0.0,0.047259,0.000000
5,17,0 days 05:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.217822,0.990099,0.439850,0.000000,0.0,0.0,0.0,0.047259,0.000000
6,17,0 days 06:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.217822,0.990099,0.439850,0.000000,0.0,0.0,0.0,0.047259,0.000000
7,17,0 days 07:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.168317,0.990099,0.428571,0.000000,0.0,0.0,0.0,0.047259,0.000000
8,17,0 days 08:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.168317,0.990099,0.375940,0.000000,0.0,0.0,0.0,0.047259,0.000000
9,17,0 days 09:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.198020,0.990099,0.402256,0.000000,0.0,0.0,0.0,0.047259,0.000000
10,17,0 days 10:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.198020,0.990099,0.402256,0.000000,0.0,0.0,0.0,0.047259,0.000000
11,17,0 days 11:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.237624,0.990099,0.368421,0.000000,0.0,0.0,0.0,0.047259,0.000000
12,17,0 days 12:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.237624,0.990099,0.368421,0.000000,0.0,0.0,0.0,0.047259,0.000000
13,17,0 days 13:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.277228,0.990099,0.390977,0.000000,0.0,0.0,0.0,0.047259,0.000000
14,17,0 days 14:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.277228,0.990099,0.390977,0.000000,0.0,0.0,0.0,0.047259,0.000000
15,17,0 days 15:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.217822,0.990099,0.421053,0.000000,0.0,0.0,0.0,0.047259,0.000000
16,17,0 days 16:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.198020,0.990099,0.327068,0.000000,0.0,0.0,0.0,0.047259,0.000000
17,17,0 days 17:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.262376,0.990099,0.300752,0.000000,0.0,0.0,0.0,0.047259,0.000000
18,17,0 days 18:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.247525,0.990099,0.300752,0.000000,0.0,0.0,0.0,0.047259,0.000000
19,17,0 days 19:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.237624,0.990099,0.383459,0.000000,0.0,0.0,0.0,0.047259,0.000000
20,17,0 days 20:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.316832,0.990099,0.334586,0.000000,0.0,0.0,0.0,0.047259,0.000000
21,17,0 days 21:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.267327,0.990099,0.357143,0.000000,0.0,0.0,0.0,0.047259,0.000000
22,17,0 days 22:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.287129,0.990099,0.372180,0.000000,0.0,0.0,0.0,0.047259,0.000000
23,17,0 days 23:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.247525,0.990099,0.387218,0.000000,0.0,0.0,0.0,0.047259,0.000000
24,17,1 days 00:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.055556,0.0,0.012687,...,0.177300,0.247525,0.990099,0.387218,0.000000,0.0,0.0,0.0,0.047259,0.000000
25,21,0 days 00:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.035075,...,0.194362,0.217822,0.990099,0.406015,0.000000,0.0,0.0,0.0,0.046314,0.228866
26,21,0 days 01:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.035075,...,0.194362,0.217822,0.990099,0.406015,0.000000,0.0,0.0,0.0,0.046314,0.228866
27,21,0 days 02:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.035075,...,0.194362,0.198020,0.990099,0.406015,0.000000,0.0,0.0,0.0,0.046314,0.228866
28,21,0 days 03:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.035075,...,0.194362,0.188119,0.990099,0.406015,0.000000,0.0,0.0,0.0,0.046314,0.228866
29,21,0 days 04:00:00,0.0,0.017775,0.016509,0.026735,0.0,0.479798,0.0,0.037313,...,0.194362,0.148515,0.990099,0.406015,0.000000,0.0,0.0,0.0,0.046314,0.228866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,23,0 days 20:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.075758,0.0,0.012687,...,0.094214,0.207921,0.960396,0.454887,0.936275,0.0,0.0,0.0,0.019660,0.000000
71,23,0 days 21:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.075758,0.0,0.012687,...,0.094214,0.158416,0.960396,0.421053,0.936275,0.0,0.0,0.0,0.019660,0.000000
72,23,0 days 22:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.075758,0.0,0.012687,...,0.094214,0.297030,0.960396,0.462406,0.936275,0.0,0.0,0.0,0.019660,0.000000
73,23,0 days 23:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.075758,0.0,0.012687,...,0.094214,0.158416,0.960396,0.454887,0.936275,0.0,0.0,0.0,0.019660,0.000000
74,23,1 days 00:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.075758,0.0,0.012687,...,0.094214,0.158416,0.960396,0.454887,0.936275,0.0,0.0,0.0,0.019660,0.000000
75,34,0 days 00:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.151515,0.0,0.016418,...,0.222552,0.207921,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.022873,0.000000
76,34,0 days 01:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.151515,0.0,0.016418,...,0.222552,0.171617,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.022873,0.000000
77,34,0 days 02:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.151515,0.0,0.016418,...,0.222552,0.133663,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.022873,0.000000
78,34,0 days 03:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.247525,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
79,34,0 days 04:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.188119,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
80,34,0 days 05:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.232673,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
81,34,0 days 06:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.212871,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
82,34,0 days 07:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.212871,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
83,34,0 days 08:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
84,34,0 days 09:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.297030,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
85,34,0 days 10:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.227723,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
86,34,0 days 11:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
87,34,0 days 12:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
88,34,0 days 13:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.227723,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
89,34,0 days 14:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.207921,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
90,34,0 days 15:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
91,34,0 days 16:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
92,34,0 days 17:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
93,34,0 days 18:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
94,34,0 days 19:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
95,34,0 days 20:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
96,34,0 days 21:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
97,34,0 days 22:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
98,34,0 days 23:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000
99,34,1 days 00:00:00,0.0,0.000000,0.000000,0.000000,0.0,0.141414,0.0,0.015672,...,0.184718,0.257426,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.017958,0.000000

In [48]:
res_24hour_df_ffill1 = res_24hour_df_ffill1.sort_values(by='SUBJECT_ID')

In [49]:
len(res_24hour_df_ffill1['SUBJECT_ID'].unique())

6587

In [50]:
matrix3D = np.array(res_24hour_df_ffill1.drop(['SUBJECT_ID', 'TimeStamp'], 1))

In [51]:
matrix3D.shape

(164675, 37)

In [52]:
matrix3D = np.array(matrix3D).reshape((6587, 25, 37))
matrix3D

array([[[0.        , 0.        , 0.        , ..., 0.        ,
         0.02173913, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.04725898, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.04725898, 0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.04725898, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.04725898, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.04725898, 0.        ]],

       [[0.        , 0.01777453, 0.01650912, ..., 0.        ,
         0.04177694, 0.22886597],
        [0.        , 0.01777453, 0.01650912, ..., 0.        ,
         0.04177694, 0.22886597],
        [0.        , 0.01777453, 0.01650912, ..., 0.        ,
         0.04177694, 0.22886597],
        ...,
        [0.        , 0.01777453, 0.01650912, ..., 0.        ,
         0.04177694, 0.22886597],
        [0.        , 0.01777453, 0.01650912, ..., 0.        ,
         0.0463138 , 0.22886597],
        [0.        , 0.01777453, 0.01650912, ..., 0.        ,
         0.0463138 , 0.22886597]],

       [[0.        , 0.        , 0.        , ..., 0.        ,
         0.01965974, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.01965974, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.01965974, 0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.01965974, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.01965974, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.01965974, 0.        ]],

       ...,

       [[0.        , 0.        , 0.        , ..., 0.        ,
         0.02476371, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.02476371, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.02476371, 0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.02476371, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.02476371, 0.        ],
        [0.        , 0.        , 0.        , ..., 0.        ,
         0.02476371, 0.        ]],

       [[0.46774194, 0.        , 0.01011849, ..., 0.        ,
         0.01720227, 0.        ],
        [0.46774194, 0.        , 0.01011849, ..., 0.        ,
         0.01720227, 0.        ],
        [0.46774194, 0.        , 0.01011849, ..., 0.        ,
         0.01720227, 0.        ],
        ...,
        [0.46774194, 0.        , 0.01011849, ..., 0.        ,
         0.01720227, 0.        ],
        [0.46774194, 0.        , 0.01011849, ..., 0.        ,
         0.01720227, 0.        ],
        [0.46774194, 0.        , 0.01011849, ..., 0.        ,
         0.01720227, 0.        ]],

       [[0.79032258, 0.        , 0.00266276, ..., 0.        ,
         0.01039698, 0.        ],
        [0.79032258, 0.        , 0.00266276, ..., 0.        ,
         0.01587902, 0.        ],
        [0.79032258, 0.        , 0.00266276, ..., 0.        ,
         0.01587902, 0.        ],
        ...,
        [0.79032258, 0.        , 0.00266276, ..., 0.        ,
         0.01587902, 0.        ],
        [0.79032258, 0.        , 0.00266276, ..., 0.        ,
         0.01039698, 0.        ],
        [0.79032258, 0.        , 0.00266276, ..., 0.        ,
         0.01587902, 0.        ]]])

In [53]:
matrix3D.shape

(6587, 25, 37)

In [54]:
outcomes = pd.read_csv('outcome.csv')
outcomes.head()

   SUBJECT_ID  LABEL
0          17      0
1          21      0
2          23      0
3          34      0
4          36      1

In [55]:
outcomes = outcomes.sort_values(by='SUBJECT_ID')
outcomes

      SUBJECT_ID  LABEL
0             17      0
1             21      0
2             23      0
3             34      0
4             36      1
5             61      0
6             68      1
7             85      0
8             94      0
9            103      1
10           105      1
11           107      0
12           109      1
13           111      0
14           112      0
15           117      0
16           124      1
17           130      1
18           138      0
19           145      0
20           154      0
21           156      0
22           157      1
23           175      0
24           177      0
25           184      0
26           188      0
27           191      0
28           199      0
29           203      0
...          ...    ...
6557       99260      0
6558       99268      0
6559       99299      1
6560       99312      1
6561       99322      0
6562       99339      0
6563       99346      0
6564       99361      0
6565       99383      1
6566       99384      1
6567       99408      1
6568       99439      1
6569       99464      1
6570       99469      0
6571       99538      1
6572       99556      0
6573       99562      1
6574       99613      0
6575       99647      1
6576       99650      0
6577       99660      0
6578       99712      0
6579       99756      1
6580       99781      1
6581       99783      0
6582       99822      1
6583       99883      0
6584       99897      0
6585       99923      0
6586       99982      1

[6587 rows x 2 columns]

In [56]:
patient_data = (res_24hour_df_ffill1.SUBJECT_ID.unique())
outcome_data =  (outcomes.SUBJECT_ID.unique())
for i in range(0,len(outcome_data)):
    if patient_data[i]!=outcome_data[i]:
        print("problem")

In [57]:
with open('finalset/preprocess_24_hours.pickle', 'wb') as handle:
    pickle.dump([matrix3D, outcomes], handle, protocol = pickle.HIGHEST_PROTOCOL)

In [58]:
outcomes.to_csv("finalset/outcomes.csv", index=False)

In [59]:
res_24hour_df_ffill1.to_csv("finalset/patient_data_24_hours.csv", index=False)